<!DOCTYPE html>
<html lang="{{language}}">

<head>
	{{> headMeta }}
	{{{ favicon }}}
	<title>{{ title }}</title>
	{{{ styles }}}
	{{{ scripts }}}
	{{ searchHead }}
</head>

<body id="post-{{currentId}}">
	<!--- Page Header -->
	<header id="header">
		{{{ injectHtml.headerBefore }}}
		{{> projectTitle }}
		{{> headerNavigation }}
		{{> searchBlock }}
		{{{ injectHtml.headerAfter }}}
	</header>

	<!--- Main Content -->
	<article id="article" class="article content">
		{{{injectHtml.articleBefore }}}
		{{{ content }}}
		{{> blogMeta}}
		{{{injectHtml.articleAfter }}}
	</article>


	<!--- Page Footer Content -->
	<footer id="blog-footer">
		{{{injectHtml.overviewBefore }}}
		{{> overviewNavigation }}
		{{{injectHtml.overviewAfter }}}
	</footer>

	{{#if footerNavigation.menu.[1]}}
	<!--- Page Footer Content -->
	<footer id="footer">
		{{> footerNavigation }}
	</footer>
	{{/if}}

</body>

</html>