<!DOCTYPE html>
<html lang="{{language}}">

<head>
	{{> headMeta }}
	<meta name="dokkie:template" content="blog" />
	{{{ favicon }}}
	{{{ styles }}}
	{{{ scripts }}}
</head>

<body id="post-{{currentId}}">

	<!--- Page Header -->
	<header id="header">
		{{{ injectHtml.headerBefore }}}
		{{> projectTitle }}
		{{> headerNavigation }}
		{{> searchBlock }}
		{{{ injectHtml.headerAfter }}}
	</header>

	<!--- Main Content -->
	<article id="article" class="article content">
		{{{injectHtml.articleBefore }}}
		{{{ content }}}
		{{> blogMeta}}
		{{> contentNavigation }}
		{{{injectHtml.articleAfter }}}
	</article>


	<!--- Page Footer Content -->
	<footer id="overview">
		{{{injectHtml.overviewBefore }}}
		{{> overviewNavigation }}
		{{{injectHtml.overviewAfter }}}
	</footer>

	<!--- Page Footer Content -->
	{{#if footerNavigation.menu.[1]}}
	<footer id="footer">
		{{> footerNavigation }}
	</footer>
	{{/if}}

</body>

{{> enhanceScripts }}

</html>