<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	{{#if package.description}}
	<meta name="description" content="{{ package.description }}" />
	{{/if}} {{#if package.keywords}}
	<meta name="keywords" content="{{ package.keywords }}" />
	{{/if}} {{#if package.author}}
	<meta name="author" content="{{ package.author }}" />
	{{/if}}
	{{{favicon}}}
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ title }}</title>
	{{{ styles }}} {{{ scripts }}}
</head>

<body id="page-{{currentId}}">
	<!--- Page Header -->
	<header id="header">
		{{{injectHtml.headerBefore }}}
		{{#if projectTitle }}<h1><a href="/">{{ projectTitle }}</a></h1>{{/if}}
		{{>headerNavigation }}
		{{{injectHtml.headerAfter }}}
	</header>

	<!--- Page Sidebar -->
	{{#if sidebarNavigation.menu.[1] }}
	<sidebar id="sidebar">
		{{{ injectHtml.sidebarBefore }}}
		{{> sidebarNavigation }}
		{{{ injectHtml.sidebarAfter }}}
	</sidebar>
	{{/if}}

	<!--- Page Main section-->
	<main id="main" class="content">
		{{{ injectHtml.mainBefore }}}
		{{{ content }}}
		{{{ injectHtml.mainAfter }}}
	</main>

	<!--- Page Footer Content -->
	<footer id="footer">
		{{{ injectHtml.footerBefore }}}
		{{> footerNavigation }}
		{{#if package}}
		<footnote>
			{{#if package.name}}<span>{{package.name}}@{{ package.version }}</span>{{/if}}
			{{#if package.license}}<span>{{ package.license }}</span>{{/if}}
			{{#if package.author}}<span>&copy; {{ package.author }}</span>{{/if}}
		</footnote>
		{{/if}}
		{{{ injectHtml.footerAfter }}}
	</footer>

</body>

</html>