<!DOCTYPE html>
<html lang="{{language}}">

<head>
	{{> headMeta }}
	{{{ favicon }}}
	<title>{{ title }}</title>
	{{{ styles }}}
	{{{ scripts }}}
</head>

<body id="page-{{currentId}}">
	<!--- Page Header -->
	<header id="header">
		{{{ injectHtml.headerBefore }}}
		{{> projectTitle }}
		{{> headerNavigation }}
		{{> searchBlock }}
		{{{ injectHtml.headerAfter }}}
	</header>

	<!--- Page Sidebar -->
	{{#if sidebarNavigation.menu.[1] }}
	<aside id="sidebar">
		{{{ injectHtml.sidebarBefore }}}
		{{> sidebarNavigation }}
		{{{ injectHtml.sidebarAfter }}}
	</aside>
	{{/if}}

	<!--- Page Main section-->
	<main id="main" class="content">
		{{{ injectHtml.mainBefore }}}
		{{{ content }}}
		{{> contentNavigation }}
		{{{ injectHtml.mainAfter }}}
	</main>


	<!--- Page Footer Content -->
	<footer id="footer">
		{{{ injectHtml.footerBefore }}}
		{{> footerNavigation }}
		{{#if package}}
		<footnote>
			{{#if package.name}}<span>{{package.name}}@{{ package.version }}</span>{{/if}}
			{{#if package.license}}<span>{{ package.license }}</span>{{/if}}
			{{#if package.author}}<span>&copy; {{ package.author }}</span>{{/if}}
		</footnote>
		{{/if}}
		{{{ injectHtml.footerAfter }}}
	</footer>

</body>

{{> enhanceScripts }}

</html>