<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	{{#if package.description}}
	<meta name="description" content="{{ package.description }}" />
	{{/if}} {{#if package.keywords}}
	<meta name="keywords" content="{{ package.keywords }}" />
	{{/if}} {{#if package.author}}
	<meta name="author" content="{{ package.author }}" />
	{{/if}}
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ title }}</title>
	{{{ styles }}} {{{ scripts }}}
</head>

<body id="{{currentId}}">
	<!--- Main Content -->
	<main id="main" class="content">
		{{{ content }}}
	</main>
</body>

</html>