<!DOCTYPE html>
<html lang="{{language}}">

<head>
	{{> headMeta }}
	{{{favicon}}}
	<title>{{ title }}</title>
	{{{ styles }}}
	{{{ scripts }}}
</head>

<body id="page-{{currentId}}">
	<!--- Main Content -->
	<main id="main" class="content">
		{{{ content }}}
	</main>

	<!--- Page Footer Content -->
	{{#if package}}
	<footer id="footer">
		<footnote>
			{{#if package.name}}<span>{{package.name}}@{{ package.version }}</span>{{/if}}
			{{#if package.license}}<span>{{ package.license }}</span>{{/if}}
			{{#if package.author}}<span>&copy; {{ package.author }}</span>{{/if}}
		</footnote>
	</footer>
	{{/if}}
</body>

</html>