{{#if headerNavigation.menu.[1] }}
{{#if headerNavigation.mobile }}<input type="checkbox" class="nav-trigger__input" id="header-nav-trigger">
<label aria-label="Trigger Header navigation" class="nav-trigger__label" for="header-nav-trigger"><span></span></label>
{{/if}}
<nav class="{{headerNavigation.showClass}}">
    <ul>
        {{#each headerNavigation.menu}}
        {{#if (eq link ../currentLink) }}<li class="active">{{/if}}
            {{#if (ne link ../currentLink) }}
        <li>{{/if}}

            <a href="{{ link }}">{{ name }}</a>
            {{#if children.[0] }}
            <ul>
                {{#each children}}
                {{#if (eq link ../../currentLink) }}<li class="active">{{/if}}
                    {{#if (ne link ../../currentLink) }}
                <li>{{/if}}<a href="{{ link }}">{{ name }}</a></li>
                {{/each}}
            </ul>
            {{/if}} {{/each}}
        </li>
    </ul>
</nav>
{{/if}}