{{#if sidebarNavigation.menu.[1] }}
{{#if sidebarNavigation.mobile }}
<input type="checkbox" class="nav-trigger__input" id="sidebar-nav-trigger">
<label aria-label="Trigger Sidebar navigation" class="nav-trigger__label"
    for="sidebar-nav-trigger"><span></span></label>
{{/if}}
<nav class="{{sidebarNavigation.showClass}}">
    <ul>
        {{#each sidebarNavigation.menu}}
        {{#if (eq link ../currentLink) }}<li class="active">{{/if}}

            {{#if (ne link ../currentLink) }}
        <li>{{/if}}

            <a href="{{ link }}">{{ name }}</a>
            {{#if children.[0] }}
            <ul>
                {{#each children }}
                {{#if (eq link ../../currentLink) }}<li class="active">{{/if}}

                    {{#if (ne link ../../currentLink) }}
                <li>{{/if}}
                    <a href="{{ link }}">{{ name }}</a>
                </li>
                {{/each}}
            </ul>
            {{/if}}
        </li>
        {{/each}}
    </ul>
</nav>
{{/if}}