{{#if columns.background}}
<section class="section section--{{columns.name}} background--{{columns.background}}">
    {{/if}}
    {{#unless columns.background}}
    <section class="section section--{{name}}">
        {{/unless}}

        <div class="section__container">
            {{#if columns.html}}
            <div class="row">
                <div class="column">
                    <div class="content"> {{{columns.html}}}</div>
                </div>
            </div>
            {{/if}}
            <div class="row {{columns.classes}}">
                {{#each columns.articles}}
                <div class="column">
                    <div class="content">{{{html}}}</div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>